@import "normalize.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: "smooth";
  text-rendering: "optimizeLegibility";
  box-sizing: "border-box";
  font-family: "Russo One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: "100vw";
  height: "100vh";
}

body * {
  transition: 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

.button-primary {
  color: #fff;
  background-color: #7571f9;
  border-color: #7571f9;
}

.button-primary:hover {
  background: #4540f7;
  color: #fff;
  border-color: #4540f7;
}
